<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hill30.android.serviceTracker" >

    <application
        android:name="com.hill30.android.serviceTracker.common.Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".activities.Container"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.SettingsActivity" android:label="Settings" android:theme="@style/AppTheme"/>

        <service android:name=".services.MessagePersistenceService" />
        <service android:name=".activityRecordStorage.Storage" />

    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
