<div ng-controller='activityRecordEditorController'>

    <div class="activity-details">
       

        <h1 class="activity-details-client-name"><span class="glyphicon glyphicon-user"></span>{{record.payload.clientName}}<!--Name--></h1>
        <hr>

        
            <form class="form-horizontal" role="form">

                <!--form-group-->
                <div class="form-group">
                    <label class="col-xs-6 col-sm-3 control-label">Service Date:</label>
                    <div class="col-xs-6 col-sm-9 input-wrap">
                        <input type="text" class="form-control" ng-model="record.date">
                    </div>
                </div>
                <!--/form-group-->

                <!--form-group-->
                <div class="form-group">
                    <label class="col-xs-6 col-sm-3 control-label">Start Time:</label>
                    <div class="col-xs-6 col-sm-9 input-wrap">
                        <input type="text" class="form-control" ng-model="record.started">
                    </div>
                </div>
                <!--/form-group-->

                <!--form-group-->
                <div class="form-group">
                    <label class="col-xs-6 col-sm-3 control-label">End Time:</label>
                    <div class="col-xs-6 col-sm-9 input-wrap">
                        <input type="text" class="form-control" ng-model="record.ended">
                    </div>
                </div>
                <!--/form-group-->

                <!--form-group-->
                <div class="form-group">
                    <label class="col-xs-6 col-sm-3 control-label">Duration:</label>
                    <div class="col-xs-6 col-sm-9 input-wrap">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <!--/form-group-->

                <!--form-group-->
                <div class="form-group">
                    <label class="col-xs-6 col-sm-3 control-label">Travel Distance:</label>
                    <div class="col-xs-6 col-sm-9 input-wrap">
                        <input type="text" class="form-control" ng-model="record.distance">
                    </div>
                </div>
                <!--/form-group-->

                <hr>

                <!--form-group-->
                <div class="form-group">

                    <div class="col-xs-12 text-right">

                        <a href="#" class="btn btn-default" ng-click="cancel()">Cancel</a>
                        <a href="#" class="btn btn-primary" ng-click="update()"><span class="glyphicon glyphicon-disk"></span> Save</a>

                    </div>
                </div>
                <!--/form-group-->

            </form>
        

    </div>
</div>
