<div ng-controller='activityRecordsController' class="activity-list">
    <ul>

        <li ng-repeat="record in records" ng-click="select(record.id)">
            <div class="row">
                <div class="col-xs-8">
                    <span class="activity-employ-name">{{record.clientName}}</span>
                </div>
                <div class="col-xs-4">
                    <div class="activity-alerts">
                        <span class="glyphicon glyphicon-stopwatch"></span>
                        <span class="glyphicon glyphicon-user-2"></span>
                        <span class="glyphicon glyphicon-list-ul"></span>
                    </div>
                </div>
            </div>
            <div class="activity-inf clearfix">
                <ul>
                    <li><span class="activity-inf-heading">Visit Start: </span>{{record.started}}</li>
                    <li><span class="activity-inf-heading">Visit End: </span>{{record.ended}}</li>
                    <li><span class="activity-inf-heading">Duration: </span>{{record.durationActual}}</li>
                    <li><span class="activity-inf-heading">Scheduled Duration   : </span>{{record.durationScheduled}}</li>
                </ul>
            </div>
        </li>

    </ul>
</div>