<div ng-controller='activityRecordsController' class="activity-list">
    <h1 class="activity-list-heading">Visits:</h1>
    <ul>

        <li ng-repeat="record in records" ng-click="select(record.id)">  
            <div class="row">
            	<div class="col-xs-8 activity-inf-wrap">
            		<div class="activity-client-name">{{record.payload.clientName}}</div>

            		<div class="activity-inf">
		            	<div class="activity-inf-item-wrap">
		                	<div class="activity-inf-row">
			                    <div class="activity-inf-item"><div class="activity-inf-item-inn"><span class="activity-inf-heading">Date: </span>{{record.payload.date}} <!--text--></div></div>
			                    <div class="activity-inf-item"><div class="activity-inf-item-inn"><span class="activity-inf-heading">Started: </span>{{record.payload.started}} <!--text--></div></div>
		                    </div>
		                    <div class="activity-inf-row">
			                    <div class="activity-inf-item"><div class="activity-inf-item-inn"><span class="activity-inf-heading">Ended: </span>{{record.payload.ended}} <!--text--></div></div>
			                    <div class="activity-inf-item"><div class="activity-inf-item-inn"><span class="activity-inf-heading">Distance: </span>{{record.payload.distance}} <!--text--></div></div>
			                </div>
		                </div>                
		            </div> 


            	</div>
            	<div class="col-xs-4 activity-alerts-wrap">
            		<div class="activity-alerts">
                        <span class="glyphicon glyphicon-stopwatch"></span>
                        <span class="glyphicon glyphicon-user-2"></span>
                        <span class="glyphicon glyphicon-list-ul"></span>
                    </div>
            	</div>
            </div>

        </li> 
       
       
    </ul>
</div>