.glyphicon-users:before {
  content: "\e000";
}
.glyphicon-folder-open:before {
  content: "\e001";
}
.glyphicon-user:before {
  content: "\e003";
}
.glyphicon-pencil:before {
  content: "\e005";
}
.glyphicon-arrow-left:before {
  content: "\e007";
}
.glyphicon-arrow-right:before {
  content: "\e008";
}
.glyphicon-cog:before {
  content: "\e00b";
}
.glyphicon-eye-open:before {
  content: "\f06e";
}
.glyphicon-remove:before {
  content: "\e002";
}
.glyphicon-unlocked:before {
  content: "\e00d";
}
.glyphicon-plus-sign:before {
  content: "\f055";
}
.glyphicon-remove-2:before {
  content: "\f00d";
}
.glyphicon-signout:before {
  content: "\f08b";
}
.glyphicon-signin:before {
  content: "\f090";
}
.glyphicon-loop:before {
  content: "\e00a";
}
.glyphicon-equalizer:before {
  content: "\e00e";
}
.glyphicon-home:before {
  content: "\f015";
}
.glyphicon-plus:before {
  content: "\f067";
}
.glyphicon-phone:before {
  content: "\e011";
}
.glyphicon-comment:before {
  content: "\e010";
}
.glyphicon-disk:before {
  content: "\e009";
}
.glyphicon-question:before {
  content: "\e004";
}
.glyphicon-back:before {
  content: "\e00f";
}
.glyphicon-search:before {
  content: "\e012";
}
.glyphicon-chevron-down:before {
  content: "\f078";
}
.glyphicon-chevron-up:before {
  content: "\f077";
}
.glyphicon-chevron-left:before {
  content: "\f053";
}
.glyphicon-chevron-right:before {
  content: "\f054";
}
.glyphicon-clock:before {
  content: "\e014";
}
.glyphicon-flag:before {
  content: "\e019";
}
.glyphicon-calendar:before {
  content: "\e015";
}
.glyphicon-calendar-2:before {
  content: "\e018";
}
.glyphicon-clock-2:before {
  content: "\e013";
}
.glyphicon-link:before {
  content: "\e016";
}
.glyphicon-reorder:before {
  content: "\f0c9";
}
.glyphicon-star:before {
  content: "\f005";
}
.glyphicon-star-empty:before {
  content: "\f006";
}
.glyphicon-envelope:before {
  content: "\f003";
}
.glyphicon-history:before {
  content: "\e017";
}
.glyphicon-user-2:before {
  content: "\e01a";
}
.glyphicon-blocked:before {
  content: "\e01b";
}
.glyphicon-earth:before {
  content: "\e01c";
}
.glyphicon-map-marker:before {
  content: "\f041";
}
.glyphicon-file-alt:before {
  content: "\f0f6";
}
.glyphicon-list-ul:before {
  content: "\f0ca";
}
.glyphicon-thumbs-up:before {
  content: "\e01d";
}
.glyphicon-signup:before {
  content: "\f087";
}
.glyphicon-warning-sign:before {
  content: "\f071";
}
.glyphicon-random:before {
  content: "\f074";
}
.glyphicon-bolt:before {
  content: "\f0e7";
}
.glyphicon-caret-right:before {
  content: "\f0da";
}
.glyphicon-resize-horizontal:before {
  content: "\f07e";
}
.glyphicon-stopwatch:before {
  content: "\e020";
}
.glyphicon-upload-alt:before {
  content: "\f093";
}
.glyphicon-thumbs-down:before {
  content: "\f088";
}
.glyphicon-locked:before {
  content: "\e00c";
}
.glyphicon-minus:before {
  content: "\f068";
}
.glyphicon-exportfile:before {
  content: "\f32f";
}
.glyphicon-compose:before {
  content: "\e01e";
}
.glyphicon-checkmark:before {
  content: "\e01f";
}
.glyphicon-checkmark-2:before {
  content: "\e006";
}
.glyphicon-busy:before {
  content: "\e021";
}
.glyphicon-clock-3:before {
  content: "\e022";
}