body {
	min-width: 200px;
}

/*activity-list*/
.activity-list {
	font-size: 20px;
}


.activity-list .activity-list-heading {
	font-size: 1.2em;
	color: #767676;
	position: relative;
	padding: 10px 15px;	
	margin: 0;
	line-height: 1.42857;
}

.activity-list > ul {
	padding: 0;
}


.activity-list > ul > li {
	text-decoration: none;
	display: block;
	padding: 13px 15px 10px 15px;
	-moz-transition: all .5s linear;
	-webkit-transition: all .5s linear;
	transition: all .5s linear;
	position: relative;
	color: #555;
	cursor: pointer;
	margin-top: -1px;
}

.activity-list > ul > li:before,
.activity-list > ul > li:after {
	content: "";
	transition: all 1s linear;
	position: absolute;
	width: 100%;
	height: 1px;	
	left: 0;
	background: #ddd;
}

.activity-list > ul > li:before {
	top: 0;
}


.activity-list > ul > li:after {
	bottom: 0;
	background: #007240;
	opacity: 0;
}

	/*activity-client-name*/
	.activity-list .activity-client-name {
		font-size: .9em;
	}
	/*!activity-client-name*/

	/*activity-alerts*/
	.activity-list .activity-alerts {		
		text-align: right;
		font-size: .7em;
		color: #009755;
		-webkit-transition: all .5s linear;
		-moz-transition: all .5s linear;
		transition: all .5s linear;
	}

	.activity-list .activity-alerts .glyphicon {		
		margin-bottom: .2em;		
	}	
	/*!activity-alerts*/

	/*activity-inf*/
	.activity-list .activity-inf {
		display: block;
		padding: .8em 0 0 1em;	
	}

	.activity-list .activity-inf .activity-inf-row {
		display: inline-block;	
	}

	.activity-list .activity-inf .activity-inf-item {
		display: inline-block;
		vertical-align: top;
	}

	.activity-list .activity-inf .activity-inf-item-inn {
		position: relative;
		font-size: .7em;
		margin: 0 2em .5em 0;		
		line-height: 1em;
		list-style: none;	
	}

	.activity-list .activity-inf .activity-inf-item-inn .activity-inf-heading {
		font-weight: bold;
	}

	.activity-list .activity-inf .activity-inf-item-inn:before {
		-webkit-transition: all .5s linear;
		-moz-transition: all .5s linear;
		transition: all .5s linear;
		border-radius: 1em;
		content: "";
		background: #767676;		
		width: .5em;
		height: .5em;		
		position: absolute;
		top: .3em;
		left: -.8em;
	}	


	@media (max-width: 767px) {
		.activity-list .activity-inf .activity-inf-item-wrap {
			
			display: table;			
		}

		.activity-list .activity-inf .activity-inf-row {
			display: table-row;
		}

		.activity-list .activity-inf .activity-inf-item {
			display: table-cell;
		}
	}

	@media (max-width: 300px) {
		.activity-list .activity-alerts .glyphicon {
			display: block;
		}

		.activity-list .activity-inf-wrap {
			width: 80%;
		}

		.activity-list .activity-alerts-wrap {
			width: 20%;			
		}

		.activity-list .activity-inf {
			padding-left: .5em;
		}
	}
	/*!activity-inf*/

	/*hover*/
	.activity-list > ul > li:hover,
	.activity-list > ul > li:focus {
		background: #009755;
		color: #fff;
		z-index: 10;	
	}

	.activity-list > ul > li:hover:before,
	.activity-list > ul > li:focus:before {
		background: #007240; 
	}

	.activity-list > ul > li:hover:after,
	.activity-list > ul > li:focus:after {
		opacity: 1;
	}

	.activity-client-name {	
		line-height: 1em;
	}


		/*activity-alerts*/
		.activity-list > ul > li:hover .activity-alerts,	
		.activity-list > ul > li:focus .activity-alerts {		
			color: #fff;
		}
		/*!activity-alerts*/

		/*activity-inf*/
		.activity-list  > ul > li:hover .activity-inf .activity-inf-item-inn:before,
		.activity-list  > ul > li:hover .activity-inf .activity-inf-item-inn:before {
			background: #fff;
			opacity: .7;
		}
		/*!activity-inf*/	

	/*!hover*/

/*!activity-list*/

/*activity-details*/
.activity-details {
	font-size: 15px;
	padding: 1em;
	margin: 0 auto;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	 
}

.activity-details .activity-details-client-name {
	font-size: 1.2em;
	color: #767676;
	position: relative;
	padding: 0 0 0 1.5em;
	margin: 0;
	line-height: 1.42857;
	min-height: 26px;
}

.activity-details .activity-details-client-name .glyphicon {
	position: absolute;
	left: 0;
	top: .2em;
	color: #007C46;
}


.activity-details .control-label {
	text-align: right;
}

@media (max-width: 767px) {
  .activity-details .control-label {		
	padding-right: .2em;
	}

	.activity-details .input-wrap {
		padding-left: .2em;
	}
}


@media (min-width: 992px){
	.activity-details {
		width: 70%;
	}
}

@media (max-width: 769px) {

	
	.activity-details .control-label {		
		width: 40%;		
	}

	.activity-details .input-wrap {
		width: 60%;
	}

	


}



@media (max-width: 350px) {

	.activity-details hr {
		margin: .7em 0;
	}

	.activity-details .control-label {		
		width: 50%;
		padding-top: 5px;
		font-size: 13px;
	}

	.activity-details .input-wrap {
		width: 50%;
	}

	.activity-details .input-wrap .form-control {
		padding: 3px 6px;
		height: 30px;

	}

	.activity-details .btn {
		padding: 4px 8px;
	}
}

@media (max-width: 250px) {

	
	.activity-details .control-label {		
		width: 60%;		
	}

	.activity-details .input-wrap {
		width: 40%;
	}

	
}
/*!activity-details*/